/* @import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

*{
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Assistant', sans-serif; */
    /* font-family: 'Lora', serif; */
/*}


input,select,option {
    height: 50px !important;
  }

h1,h2{
    letter-spacing: .06em;
}

.profile{
    font-size: 30px !important;
    letter-spacing: .03em;
}
a:hover{
    text-decoration: none;
}
.card{
    background-color: #FFF7EF !important;
}

.bg-color {
    background-color: #FFF7EF !important;
}

.btn-outline-pink {
    color: #FFC3CE;
    background-color: transparent;
    background-image: none;
    border-color: #FFC3CE;
  }
  
  .btn-outline-pink:hover,
  .btn-outline-pink:not(:disabled):not(.disabled):active, .btn-outline-pink:not(:disabled):not(.disabled).active,
  .show > .btn-outline-pink.dropdown-toggle {
    color: #fff;
    background-color: #FFC3CE;
    border-color: #FFC3CE;
  }
  
  .btn-outline-pink:focus, .btn-outline-pink.focus,
  .btn-outline-pink:not(:disabled):not(.disabled):active:focus, .btn-outline-pink:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-pink.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .btn-outline-pink.disabled, .btn-outline-pink:disabled {
    color: #FFC3CE;
    background-color: transparent;
  }



.btn-pink,
.btn-pink.disabled, .btn-pink:disabled {
  color: #fff;
  background-color: #FFC3CE;
  border-color: #FFC3CE;
}

/* focusされた時の枠線の色 */
/*.btn-pink:focus, .btn-pink.focus,
.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 123, 255, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
/*.btn-pink:hover {
  color: #fff;
  background-color: #F9ADBB;
  border-color: #E7428D;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
/*.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: #F9ADBB;
  border-color: #E7428D;
} */